<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[xunit.*]*,[*.Tests]*,[Microsoft.*]*,[System.*]*</Exclude>
          <ExcludeByFile>**/*.cshtml,**/Program.cs,**/Startup.cs,**/Migrations/*.cs</ExcludeByFile>
          <Include>[DryFish.ILib.Random]*</Include>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>./coverage-results</ResultsDirectory>
    <TestSessionTimeout>300000</TestSessionTimeout>
  </RunConfiguration>
  
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="true" />
      <Logger friendlyName="html" enabled="true" />
      <Logger friendlyName="trx" enabled="true" />
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
